h1{
	color:rgb(0,200,100,.5);
	border-color: purple;
	border-width: 10px;
	border-style: dashed;
}
/*li{
	color:orange;
}
h4{
	color:red;
}*/

h4{
	background: rgb(200,100,50);
}

body{
	background: url(http://graphix.sd/resources/slides/mockup4.jpg);
	background-repeat:repeat;
	background-size: cover;
}