p{
	font-family: Raleway;
}

h1{
	font-family: Indie Flower;
}

h1{
	font-size: 60px;
}

p{
	font-size: 20px;
}
span{
	font-size: 2.0em;
}

p{
	font-weight: normal;
}

p{
	line-height: 2;
}

h1{
	text-align: center;
}

/*p{
	text-decoration: line-through;
}*/